.cards-trend > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-trend > ul > li {
  border: none;
  background: none;
  overflow: hidden;
  border-radius: var(--border-radius-l);
}

.cards-trend .cards-trend-card-body {
  margin: 16px;
}

.cards-trend .cards-trend-card-image {
  line-height: 0;
}

.cards-trend > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
