/* Columns Article - image left, article meta right */
.columns-article > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.columns-article > div > div {
  order: 1;
}

.columns-article > div > .columns-article-img-col {
  order: 0;
}

.columns-article img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius-l);
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Article meta column */
.columns-article h2 {
  margin-top: var(--spacing-m);
}

.columns-article p {
  font-size: var(--body-font-size-xs);
  color: var(--text-color-muted);
}

@media (width >= 900px) {
  .columns-article > div {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxl);
  }

  .columns-article > div > div {
    flex: 1;
    order: unset;
  }

  .columns-article img {
    aspect-ratio: 3 / 4;
  }
}
